@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_typography" as typography;


.c-search-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 28%;
    height: 46px;
    margin-left: auto;
    cursor: pointer;
    background: linear-gradient(90deg, base.$color-side-menu-bg 0%, #DED8D3 100%);
    border: 1px solid base.$color-gray-medium;
    border-radius: 10px;
    
    @include mixin.breakpoint(tablet) {
        width: 24.9%;
        min-width: 90px;
        max-width: 136px;
    }

    &__text {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        
        width: 32px;
        height: 24px;
        font-size: 16px;
        line-height: 23.76px;
        color: base.$color-gray-medium;
        @include typography.m-plus-1p-bold;
    }
}