@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_typography" as typography;

.c-hero__image {
    background-size: cover;
    background-position: left center;
    width: 100%;
    height: 285px;
    @include mixin.breakpoint(tablet) {
        height: 285px;
        width: 100%;
    }
    @include mixin.breakpoint(pc) {
        width: 80.9%;
        max-width: 1553px;
        height: 530px;
    }
}
// p-heroの中に書く
// __は子要素