// ===================================
// object/component/_info-box.scss
// 情報ボックス（Take OUT、Eat In 内のコンテンツ）
// ===================================



@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_variables" as vars;
@use "../../Foundation/_typography" as typography;


.c-info-box {
    box-sizing: border-box;
    position: absolute;
    left: 16px;
    width: 303px;
    height: 156px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: vars.$color-text-overlay;
    opacity: 0.8;

    // tabletサイズ
    @include mixin.breakpoint(tablet) {
        width: 325px;
        height: 154px
    }
    // PCサイズ
    @include mixin.breakpoint(pc) {
        width: 584px;
        height: 161px;
    }


    &:nth-of-type(1) {
        top: 298px;
        // tabletサイズ
        @include mixin.breakpoint(tablet) {
            top: 341px;
        }
        // PCサイズ
        @include mixin.breakpoint(pc) {
            top: 839px;
        }
    }

    &:nth-of-type(2) {
        top: 470px;
        // tabletサイズ
        @include mixin.breakpoint(tablet) {
            top: 511px;
        }
        // PCサイズ
        @include mixin.breakpoint(pc) {
            top: 1016px;
        }
    }

    &__title {
        width: 105px;
        height: 24px;
        margin: 0;
        @include typography.m-plus-1p-bold;
        font-size: 22px;
        line-height: 24px;
        color: vars.$color-text-content;
        

        // tabletサイズ
        @include mixin.breakpoint(tablet) {
            font-size: 24px;
            line-height: 24px;
            width: 115px;
            height: 24px;
        }

        // PCサイズ
        @include mixin.breakpoint(pc) {
            width: 125px;
            height: 24px;
            font-size: 24px;
            line-height: 24px;
        }
    }

    &__text {
        width: 271px;
        @include typography.m-plus-1p-regular;
        color: vars.$color-text-content;
        font-size: 16px;
        line-height: 24px;
        margin: 0;

        // tabletサイズ
        @include mixin.breakpoint(tablet) {
            width: 293px;
            height: 82px;
            line-height: 21px;
            font-size: 14px;
        }

        // PCサイズ
        @include mixin.breakpoint(pc) {
            width: 552px;
            height: 90px;
            font-size: 16px;
            line-height: 24px;
        }
    }
}