// ===================================
// object/component/_menu-button.scss
// ハンバーガーメニューボタンのスタイル
// ===================================


@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_variables" as vars;
@use "../../Foundation/_typography" as typography;

.c-menu-button {
    min-width: 51px;
    height: 23px;
    position: fixed;
    top: 8px;
    right: 8px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;

    // tabletサイズ
    @include mixin.breakpoint(tablet) {
        min-width: 87px;
        height: 40px;
        position: fixed;
        top: 20px;
        right: 25px;
        margin: 0;
        padding: 0;
    }
    // PCサイズ
    @include mixin.breakpoint(pc) {
        min-width: 88px;
        height: 40px;
        
    }

    &__text {
        @include typography.roboto-bold;
        font-size: 20px;
        line-height: 23px;
        color: vars.$color-text-heading;  //707070

        @include mixin.breakpoint(tablet) {
            display: inline-block;
            font-size: 34px;
            line-height: 40px;
        }

        @include mixin.breakpoint(pc) {
            font-size: 34px;
        }
    }
}