// ===================================
// object/component/_menu-button.scss
// ハンバーガーメニューボタンのスタイル
// ===================================


@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_variables" as vars;
@use "../../Foundation/_typography" as typography;

.c-menu-button {
    min-width: 51px;
    height: 23px;
    position: fixed;
    top: 8px;
    right: 8px;

    // tabletサイズ
    @include mixin.breakpoint(tablet) {
        min-width: 87px;
        height: 40px;
        position: fixed;
        top: 20px;
        right: 25px;
    }
    // PCサイズ
    @include mixin.breakpoint(pc) {
        min-width: 88px;
        height: 40px;
        
    }

    &__text {
    @include typography.roboto-bold;
    font-size: 20px;
    line-height: 1;
    color: vars.$color-text-heading;  //707070

    @include mixin.breakpoint(tablet) {
        font-size: 34px;
    }

    @include mixin.breakpoint(pc) {
        font-size: 34px;
    }
    }
}