@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;

.c-search-input {
    width: 216px;
    height: 46px;
    box-sizing: border-box;
    background: base.$color-white;
    border: 1px solid base.$color-gray-medium;
    border-radius: 10px 8px 10px 10px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    @include mixin.breakpoint(tablet){
        width: 72.5%;
        max-width: 396px;
        margin-right: 14px;
    }
    
    &__icon {
        width: 24px;
        height: 24px;
        margin-top: 12px;
        margin-right: 0;
        margin-bottom: 10px;
        margin-left: 5px;
    }

    &__text {
        flex-grow: 1;
        width: 170px;
        height: 46px;

    }


}



