// ===================================
// object/component/_search-form.scss
// 検索フォームのスタイル
// ===================================

@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_variables" as vars;
@use "../../Foundation/_typography" as typography;

.c-search {
    min-width: 318px;
    position: absolute;
    left: 31px;
    right: 26px;
    top: 130px;
    height: 46px;
    display: flex;
    align-items: center;
    gap: 8px; //入力とボタンの間隔
    box-sizing: border-box;

    // tabletサイズ
    @include mixin.breakpoint(tablet) {
        min-width: 546px;
        height: 46px;
        margin-bottom: 40px;
        align-items: center;
    }

    // PCサイズ
    @include mixin.breakpoint(pc) {
        min-width: 546px;
        height: 46px;
        margin-bottom: 85px;
        margin-right: 31px;

    }

    &__input {
        position: relative;
        min-width: 216px;
        height: 46px;
        background: vars.$color-text-overlay; //#FFFFFF
        border: 1px solid vars.$color-text-heading; //#707070
        border-radius: 10px 8px 10px 10px;
        padding-left: 40px;
        outline: none;
        box-sizing: border-box;

        &::before {
            content: "";
            position: absolute;
            left: 12px;
            top: 12px;
            width: 18px;
            height: 18px;
            border: 2px solid vars.$color-loupe;
            border-radius: 50%;
            box-sizing: border-box;
        }

        &::after {
            content: "";
            position: absolute;
            left: 26px;
            top: 26px;
            width: 10px;
            height: 2px;
            background: vars.$color-loupe;
            transform: rotate(45deg);
            transform-origin: left center;
        }

        // tabletサイズ
        @include mixin.breakpoint(tablet) {
            min-width: 396px;
            height: 46px;
            border-radius: 10px;
        }

        // PCサイズ
        @include mixin.breakpoint(pc) {
            min-width: 546px;
            height: 46px;
            border-radius: 10px;
        }
    }

    &__button {
        flex: 0 0 94px;
        height: 46px;
        display: grid;
        place-items: center;
        box-sizing: border-box;
        background: linear-gradient(90deg, vars.$color-bg-sidebar 0%, vars.$greige-pale 100%);
        border: 1px solid vars.$color-text-heading; //#707070
        border-radius: 10px;

        // 検索 文字
        &-text {
            @include typography.m-plus-1p-bold; // M+ 1p Bold
            font-size: 16px;
            line-height: 24px;
            color: vars.$color-text-heading; //#707070
            text-align: center;
        }
        

        // tabletサイズ
        @include mixin.breakpoint(tablet) {
            min-width: 136px;
            height: 46px;
        }

        // PCサイズ
        @include mixin.breakpoint(pc) {
            min-width: 136px;
            height: 46px; 
        }  
    }
}




