// ===================================
// object/component/_search-form.scss
// 検索フォームのスタイル
// ===================================

@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_variables" as vars;
@use "../../Foundation/_typography" as typography;

.c-search {
    min-width: 318px;
    position: absolute;
    left: 31px;
    right: 26px;
    top: 130px;
    height: 46px;
    display: flex;
    align-items: center;
    gap: 8px; //入力とボタンの間隔
    box-sizing: border-box;

    // tabletサイズ
    @include mixin.breakpoint(tablet) {
        position: absolute;
        min-width: 546px;
        min-height: 46px;
        margin-bottom: 40px;
        align-items: center;
        left: 144px;
        top: 131px;
    }

    // PCサイズ
    @include mixin.breakpoint(pc) {
        position: absolute;
        left: 976px;
        top: 86px;
        max-width: 546px;
        height: 46px;
    }

    &__input {
        position: relative;
        min-width: 216px;
        height: 46px;
        background: vars.$color-text-overlay; //#FFFFFF
        border: 1px solid vars.$color-text-heading; //#707070
        border-radius: 10px 8px 10px 10px;
        padding-left: 40px;
        outline: none;
        box-sizing: border-box;

        background-image: url(../images/mushimegane.svg);
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: 5px 12px;


        // tabletサイズ
        @include mixin.breakpoint(tablet) {
            position: absolute;
            left: 0;
            top: 0;
            min-width: 396px;
            height: 46px;
            background: vars.$color-text-overlay;
            border: 1px solid vars.$color-text-heading; //#707070
            border-radius: 10px;
            outline: none;
            font-size: 16px;
            line-height: 24px;
            padding-left: 42px;
            color: #333;
            background-image: url(../images/mushimegane.svg);
            background-repeat: no-repeat;
            background-size: 24px 24px;
            background-position: 12px 11px;
        }

        // PCサイズ
        @include mixin.breakpoint(pc) {
            box-sizing: border-box;
            position: absolute;
            left: 0;
            top: 0;
            width: 396px;
            height: 46px;
            background: vars.$color-text-overlay; //#FFFFFF
            border: 1px solid vars.$color-text-heading; //#707070
            border-radius: 10px;
            outline: none;
            font-size: 16px;
            line-height: 24px;
            color: #333;
            padding-left: 42px;
            background-image: url(../images/mushimegane.svg);
            background-repeat: no-repeat;
            background-size: 24px 24px;
            background-position: 12px 11px;
        }
    }

    &__button {
        flex: 0 0 94px;
        height: 46px;
        display: grid;
        place-items: center;
        box-sizing: border-box;
        background: linear-gradient(90deg, vars.$color-bg-sidebar 0%, vars.$greige-pale 100%);
        border: 1px solid vars.$color-text-heading; //#707070
        border-radius: 10px;

        // tabletサイズ
        @include mixin.breakpoint(tablet) {
            position: absolute;
            left: 410px;
            top: 0;
            min-width: 136px;
            height: 46px;
            border: 1px solid vars.$color-text-heading; //#707070
            border-radius: 10px;
            background: linear-gradient(90deg, vars.$color-bg-sidebar 0%, vars.$greige-pale 100%);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        // PCサイズ
        @include mixin.breakpoint(pc) {
            box-sizing: border-box;
            position: absolute;
            left: 410px;
            top: 0;
            width: 136px;
            height: 46px;
            border: 1px solid vars.$color-text-heading; //#707070
            border-radius: 10px;
            background: linear-gradient(90deg, vars.$color-bg-sidebar 0%, vars.$greige-pale 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            }

        // 検索 文字
        &-text {
            @include typography.m-plus-1p-bold; // M+ 1p Bold
            font-size: 16px;
            line-height: 24px;
            color: vars.$color-text-heading; //#707070
            text-align: center;
        }
        

        // tabletサイズ
        @include mixin.breakpoint(tablet) {
            @include typography.m-plus-1p-bold; // M+ 1p Bold
            font-size: 16px;
            line-height: 24px;
            color: vars.$color-text-heading; //#707070
        }

        // PCサイズ
        @include mixin.breakpoint(pc) {
            min-width: 136px;
            height: 46px; 
        }  
    }
}




