// ===================================
// object/component/_search-form.scss
// 検索フォームのスタイル
// ===================================

@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_variables" as vars;
@use "../../Foundation/_typography" as typography;

.c-search-form {
    min-width: 318px;
    height: 46px;
    display: flex;
    flex-direction: row;
    margin-bottom: 39px;
    margin-left: 31px;

    // tabletサイズ
    @include mixin.breakpoint(tablet) {
        min-width: 546px;
        height: 46px;
        margin-bottom: 40px;
        align-items: center;
    }

    // PCサイズ
    @include mixin.breakpoint(pc) {
        min-width: 546px;
        height: 46px;
        margin-bottom: 85px;
        margin-right: 31px;

    }

    &__input {
        min-width: 216px;
        height: 46px;
        box-sizing: border-box;
        background: vars.$color-text-overlay; //#FFFFFF
        border: 1px solid vars.$color-text-heading; //#707070
        border-radius: 10px 8px 10px 10px;

        // tabletサイズ
        @include mixin.breakpoint(tablet) {
            min-width: 396px;
            height: 46px;
            border-radius: 10px;
        }

        // PCサイズ
        @include mixin.breakpoint(pc) {
            min-width: 546px;
            height: 46px;
            border-radius: 10px;
        }
    }

    &__button {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, vars.$color-bg-sidebar 0%, vars.$greige-pale 100%);
        border: 1px solid vars.$color-text-heading; //#707070
        border-radius: 10px;

        min-width: 90px;
        height: 46px;
        margin-left: 12px;
        
        // 検索 文字
        @include typography.m-plus-1p-bold; // M+ 1p Bold
        font-size: 16px;
        line-height: 24px;
        color: vars.$color-text-heading; //#707070
        text-align: center;

        // tabletサイズ
        @include mixin.breakpoint(tablet) {
            min-width: 136px;
            height: 46px;
        }

        // PCサイズ
        @include mixin.breakpoint(pc) {
            min-width: 136px;
            height: 46px; 
        }  
    }
}




