@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_variables" as vars;
@use "../../Foundation/_typography" as typography;

// セクションタイトル「Take Out」「Eat In」のスタイル

.c-section-title {
    width: 164px;
    height: 48px;
    @include typography.roboto-bold; // roboto 700 
    color: vars.$color-text-light;
    font-size: 41px;
    line-height: 1;
    margin-top: 13px;
    margin-left: 15px;

    // tablet 
    @include mixin.breakpoint(tablet) {
        width: 176px;
        height: 52px;
        font-size: 44px;
        margin-top: 14px;
        margin-left: 11px;
    }

    // PC
    @include mixin.breakpoint(pc) {
        width: 319px;
        height: 94px;
        font-size: 80px;
        margin-top: 24px;
        margin-left: 10px;

    }

    &__line {
        display: block;
        width: 33.89px;
        height: 0;
        border: 4px solid vars.$color-text-overlay;
        margin-left: 15.5px;
        margin-top: 19.34px;
        

        // tablet 
        @include mixin.breakpoint(tablet) {
            width: 35.94px;
            margin-left: 15.12px;
            margin-top: 25.57px;
        }

        // PC
        @include mixin.breakpoint(pc) {
            width: 63px;
            margin-left: 17.5px;
            margin-top: 43px;
            

    
        }

    }


}




