@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_variables" as vars;
@use "../../Foundation/_typography" as typography;

// セクションタイトル「Take Out」「Eat In」のスタイル

.c-section-title {
    position: absolute;
    left: 15px;
    top: 13px;
    width: 164px;
    height: 48px;
    margin: 0;
    @include typography.roboto-bold; // roboto 700 
    color: vars.$color-text-light;
    font-size: 41px;
    line-height: 48px;
    margin: 0;

    // tablet 
    @include mixin.breakpoint(tablet) {
        left: 11px;
        top: 14px;
        width: 176px;
        height: 52px;
        margin: 0;
        font-size: 44px;
        line-height: 52px;
        
    }

    // PC
    @include mixin.breakpoint(pc) {
        left: 10px;
        top: 24px;
        width: 319px;
        height: 94px;
        font-size: 80px;
        line-height: 94px;
        margin: 0;
    }

    &__line {
        position: absolute;
        left: 15.5px;
        top: 80.34px;
        width: 33.89px;
        height: 0;
        border: 4px solid vars.$color-text-overlay;
        

        // tablet 
        @include mixin.breakpoint(tablet) {
            left: 15.12px;
            top: 91.57px;
            width: 35.94px;
        }

        // PC
        @include mixin.breakpoint(pc) {
            left: 17.5px;
            top: 161px;
            width: 63px;
            border-width: 8px;
        }
    }
}




