@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_variables" as vars;
@use "../../Foundation/_typography" as typography;

// =========================
// Component: オーバーレイ
// 
// =========================

.c-sidebar-overlay {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    max-width: 375px;
    height: 2716px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.501961);
    opacity: 0;
    transition: opacity 200ms ease;
    z-index: 800;

    .l-sidebar.is-open & {
        opacity: 1;
    }
}

.c-sidebar-title {
    position: absolute;
    left: 20px;
    top: 20px;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: vars.$color-text-heading;    //#707070
}