@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_variables" as vars;
@use "../../Foundation/_typography" as typography;

// サイト名 ｈ１ Hamburger

.c-site-title {
    position: absolute;
    left: 86px;
    top: 43px;
    width: 203px;
    height: 47px;
    color: vars.$color-text-heading;
    
    @include mixin.breakpoint(tablet) {
        top: 40px;
        left: 316px;
        text-align: center;
        margin: 0;
    }
    
    @include mixin.breakpoint(pc) {
        position: absolute;
        left: 65px;
        top: 66px;
        width: 325px;
        height: 84px;
        margin: 0;
    }

    &__link {
        @include typography.roboto-bold;
        font-size: 40px;
        line-height: 1.175;
        padding-block: 3px;

        @include mixin.breakpoint(tablet) {
        display: block;
        width: 100%;
        height: 100%;
        color: inherit;
        text-decoration: none;
        }

        @include mixin.breakpoint(pc) {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            @include typography.roboto-bold;
            font-size: 64px;
            line-height: 75px;
            color: vars.$color-text-heading;  //707070                            
        }
    }
}