@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_variables" as vars;
@use "../../Foundation/_typography" as typography;

.c-textBox {
    position: absolute;
    left: 40px;
    top: 116px;
    width: 295px;
    height: 518px;

    margin: 0;
    @include typography.m-plus-1p-bold; // M PLUS 1p 700
    font-size: 14px;
    line-height: 33px;
    color: vars.$color-text-overlay; //#FFFFFF

    // tablet 
    @include mixin.breakpoint(tablet) {
        position: absolute;
        left: 42px;
        top: 116px;
        width: 763px;
        height: 259px;
        margin: 0;

        @include typography.m-plus-1p-bold; // M PLUS 1p 700
        font-size: 14px;
        line-height: 33px;
        color: vars.$color-text-overlay;  //#FFFFFF
    }

    // PC
    @include mixin.breakpoint(pc) {
        position: absolute;
        left: 119px;
        top: 248px;
        width: 697px;
        height: 326px;
        margin: 0;

        @include typography.m-plus-1p-bold; // M PLUS 1p 700
        font-size: 16px;
        line-height: 33px;
        color: vars.$color-text-overlay;  //#FFFFFF
    }
}