@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_variables" as vars;
@use "../../Foundation/_typography" as typography;


/* PCカンプの横幅（%化の基準） */
$pc-canvas: 1920px;
@function pcw($px) { @return ($px / $pc-canvas) * 100%; }

/* ================================
 * Component: アクセス内テキストボックス
 * ================================ */

.c-textBox {
    position: absolute;
    left: 40px;
    top: 116px;
    width: 295px;
    height: 518px;
    margin: 0;
    @include typography.m-plus-1p-bold; // M PLUS 1p 700
    font-size: 14px;
    line-height: 33px;
    color: vars.$color-text-overlay; //#FFFFFF

    // tablet (400px-834px)
    @include mixin.breakpoint(tablet) {
        left: 42px;
        top: 116px;
        width: 763px;
        height: 259px;       
    }

    // PC (835px-)
    @include mixin.breakpoint(pc) {
        left: pcw(119px);    // 119px / 1920px * 100%= 6.198%
        top: 248px;
        width: pcw(697px);   // 697px / 1920px * 100%= 36.302%
        height: 326px;
        font-size: 16px;
        line-height: 33px;
        min-width: 697px;
    }
}