@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_typography" as typography;

.c-title-hamburger {
    margin-left: 22.93%;
    margin-right: 22.93%;
    margin-top: 43px;
    margin-bottom: 125px;
    width: 203px;
    height: 47px;
    font-family: typography.$font-primary;
    font-size: 40px;
    line-height: 46.88px;
    color: base.$color-gray-medium;
}