.c-title-Hamburger {
    position: absolute;
    left: 22.93%;
    right: 22.93%;
    top: 20%;
    bottom: 58.14%;
    width: 203px;
    height: 47px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #707070;
    gap: 0px;
}