// ===================================
// object/project/_access.scss
// アクセス情報のスタイル
// ===================================


@use "../../Foundation/_variables.scss" as vars;
@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_typography" as typography;

.p-access {
    box-sizing: border-box;
    position: relative;
    max-width: 375px;
    height: 691px;
    margin: 0 auto;
    background: vars.$color-black;




    &__background {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 691px;
        background: url(/images/Map.png) no-repeat center/cover;
        opacity: 0.6;
        z-index: 0;







    } 


    &__overlay {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 415px;
        background: vars.$color-black;
        opacity: 0.29;
        z-index: 1;





    }



    &__content {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}

