@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_typography" as typography;

.p-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto ;
}
