@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_typography" as typography;


.p-search-block {
    margin-left: 8.27%;
    margin-right: 6.93%;
    margin-top: 130px;
    margin-bottom: 39px;
    width: 84.8%;
    height: 46px;
    display: flex;
    align-items: center;
    @include mixin.breakpoint(tablet) {
        width: 65.47%;
        margin-top: 131px;
        margin-bottom: 40px;
    }
    @include mixin.breakpoint(pc) {
        width: 35.16%;
        margin-top: 86px;
        margin-right: 31px;
    }
}
