@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_typography" as typography;


.p-search-block {
    display: flex;
    align-items: center;
    width: 84.8%;
    min-width: 318px;
    height: 46px;
    margin: 40px 31px 39px 0;
    @include mixin.breakpoint(tablet) {
        width: 65.47%;
        max-width: 546px;
        margin-top: 38px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        
    }
    @include mixin.breakpoint(pc) {
        width: 546px;
        margin-right: 0 auto;
    }
}
