// ===================================
// object/project/_service-menu.scss
// メニュー（Take Out / Eat In）のスタイル
// ===================================


@use "../../foundation/_variables.scss" as vars;
@use "../../foundation/_base" as base;
@use "../../foundation/_mixin" as mixin;
@use "../../foundation/_typography" as typography;

.p-service-menu {
    margin: 0 auto;

    &__inner {
        width: 100%;
        max-width: 375px; // スマホサイズ
        padding: 0 20px;
        margin: 20px auto;

        // tablet
        @include mixin.breakpoint(tablet) {
            max-width: 834px;
            margin: 40px auto;
        }

        // PC：左コンテンツ幅 1552px を%で指定（＝80.833%）
        @include mixin.breakpoint(pc) {
            max-width: mixin.pcw(1552px);   // 1552 / 1920 ≒ 80.833%
            margin: 120px auto;
            // サイドバーはグリッドで独立した列なので、padding-rightは不要
        }
    }

    &__container {
        display: block;

        // tablet
        @include mixin.breakpoint(tablet) {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-start;
            column-gap: 41px;
        }

        // PC
        @include mixin.breakpoint(pc) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            column-gap: mixin.pclw(81px);     // 81 / 1552 ≒ 5.22%
        }
    }
}