@use "../../Foundation/_base" as base;
@use "../../Foundation/_mixin" as mixin;
@use "../../Foundation/_variables" as vars;
@use "../../Foundation/_typography" as typography;

// =========================
// Project: サイドバー本体（パネル）
// 
// =========================

.p-sidebar {
    position: absolute;
    width: 328px;
    height: 2716px;
    left: 47px;
    top: 0px;
    box-sizing: border-box;
    background: vars.$color-bg-sidebar;
}

.l-sidebar.is-open .p-sidebar {
    right: 0;
}

.p-sidebar__header {
    position: relative;
    height: 140px;
}