@use "../../foundation/_base" as base;
@use "../../foundation/_mixin" as mixin;
@use "../../foundation/_variables" as vars;
@use "../../foundation/_typography" as typography;

// =========================
// Project: サイドバー本体（パネル）
// 
// =========================

.p-sidebar {
    // スマホ・タブレット画面
    position: fixed;
    right: 0;
    top: 0;
    width: 328px;
    height: 100vh;
    overflow-y: auto;
    background: vars.$color-bg-sidebar;
    z-index: 901;        //オーバーレイより手前
    // transform はJavaScriptのみで制御（CSSでは設定しない）

    // PC画面
    @include mixin.breakpoint(pc) {
        position: static;
        right: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 2843px;
        background: vars.$color-bg-sidebar;
        padding-top: 0;
        padding-left: 46px;
        padding-right: 46px;
    }
}

// .is-openクラスが付与された時のスタイルはJavaScriptのアニメーションで制御

.p-sidebar__header {
    position: relative;
    height: 140px;

    @include mixin.breakpoint(pc) {
        height: 120px;
    }
}
