@use "../Foundation/_mixin" as mixin;
@use "../Foundation/_base" as base;
@use "../Foundation/_variables" as vars;

.l-footer {
    position: relative;
    width: 100%;
    min-height: 150px;
    background-color: vars.$color-footer-bg;     //#9D8670
    background-image: url(../images/footer-imge.png) no-repeat center/cover;
    color: vars.$color-text-overlay;   //#FFFFFF
    &__inner {
        max-width: 375px;       //スマホ画面サイズ
        margin: 0 auto;
        padding: 0 24px;
        box-sizing: border-box;  
    }
}