@use "../Foundation/_mixin" as mixin;
@use "../Foundation/_base" as base;
@use "../Foundation/_variables" as vars;

.l-header {
    width: 100%;
    background-color: vars.$color-header-bg;
    min-width: 375px;
    height: 215px;
    position: relative;
    box-sizing: border-box;

    @include mixin.breakpoint(tablet) {
        min-height: 217px;
        min-width: 834px;
        margin: 0 auto;
    }

    @include mixin.breakpoint(pc) {
        max-width: 1553px;
        max-height: 217px;
        position: fixed;
        left: 0;
        top: 0;
        box-sizing: border-box;
        position: relative;
        margin: 0 0;
        background: vars.$color-header-bg; //header background
    }
}



