@use "../foundation/_base" as base;
@use "../foundation/_mixin" as mixin;
@use "../foundation/_variables" as vars;
@use "../foundation/_typography" as typography;

// =========================
// Layout: サイドバー（SP）
// - デフォルトは閉じた状態（.is-open で開く）
// =========================

.l-sidebar {
    position: fixed;
    inset: 0;
    z-index: 900;
    pointer-events: none;   //閉じた状態では操作不可

    // 開いている状態（JSで .is-open を付与） 
    &.is-open {
        pointer-events: auto;
    }   
}

@include mixin.breakpoint(pc) {
    .l-sidebar {
        width: 368px;
        min-height: 2843px;
        position: static;
        inset: auto;
        pointer-events: auto;
    }
}
